.projectInfo {
    padding: 10vw;
    padding-top: 0;
}

.projectInfo ul {

    list-style-type: circle;
}

.projectInfo li {
    text-align: left;
    margin-bottom: 15px;
    margin-top: 15px;
}

.projectInfo li::before {
    /*content: ">";*/
}