.Footer {
    background-color: #E8E8E8;
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100px;
    max-height: 100px;
}

.bottomSection {
    /*display: flex;*/
    /*justify-content: center;*/
    width: 100vw;
    position: absolute;
    bottom: 0px;
}

.time {
    display: flex;
    float: right;
    margin-right: 10px;
}

.gitHubImage {
    transition: all 0.1s ease-in-out;
}

.gitHubImage:hover {
    transform: scale(1.1);
}