.Footer {
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
    width: 100vw;
    height: 100px;
    max-height: 100px;
}

.bottomSection {
    /*display: flex;*/
    /*justify-content: center;*/
    width: 100vw;
    position: absolute;
    bottom: 0px;
}

.time {
    display: flex;
    float: right;
    margin-right: 10px;
}